<header>
    <div class="header-container">
        <div class="header-logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="menu">
            <ul class="nav-list">
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">PORTFOLIO</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</header>