<header>
    <div class="container">
        <div class="header__wrapper">
            <strong class="header-logo">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </strong>
            <div class="header__inner">
                <div class="menu">
                    <ul class="nav-list">
                        <li class="item">
                            <a href="#">home</a>
                        </li>
                        <li class="item">
                            <a href="#">about</a>
                        </li>
                        <li class="item">
                            <a href="#">portfolio</a>
                        </li>
                        <li class="item">
                            <a href="#">blog</a>
                        </li>
                        <li class="item">
                            <a href="#">contact</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="search"><i class="icon-search"></i></a>
            </div>
        </div>
    </div>
</header>