<header>
    <div class="container">
        <div class="header__wrapper">
            <strong class="header-logo">
                <a href="#"><img src="images/logo.png" alt=""></a>
            </strong>
            <!-- <div class="header__inner"> -->
            <div class="menu">
                <i class="icon-align-justify"></i>
                <ul class="nav-list">
                    <li class="item">
                        <a href="#">home</a>
                    </li>
                    <li class="item">
                        <a href="#">about</a>
                    </li>
                    <li class="item">
                        <a href="#">portfolio</a>
                    </li>
                    <li class="item">
                        <a href="#">blog</a>
                    </li>
                    <li class="item">
                        <a href="#">contact</a>
                    </li>
                </ul>
            </div>
            <div class="search-holder">
                <div class="search-field">
                    <form action="search">
                        <input type="text">
                    </form>
                    <!-- <button class="search-button" type="button"> 
                        <i class="icon-search"></i>
                    </button> -->
                </div>
                <button class="search-btn" type="button"> 
                    <i class="icon-search"></i>
                </button>
            </div>
            <!-- </div> -->
            <div class="bottom"></div>
        </div>
    </div>
</header>